<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Blog: <%= @posts.count %> kayıt</h1>
            <% if @posts.count > 0 %>
            <hr/>
            <div class="post">
                <% @posts.each do |post| %>
                <h2>
                    <a href="/post/<%= post.id %>/"><%= post.title %></a>
                    <small><%= I18n.localize post.updated_at, :format => "%A, %B %d, %Y, %H:%M" %></small>
                </h2>
                <% end %>
            </div>
            
            <%= will_paginate @posts, renderer: BootstrapPagination::Sinatra %>
            <% end %>
            
            <p><a href="/post/new/" class="btn btn-primary">Yeni Kayıt</a></p>
        </div>
    </div>
</div>