<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="post">
                <h1>
                    <%= @post.title %>
                    <small><%= I18n.localize @post.updated_at, :format => "%A, %B %d, %Y, %H:%M" %></small>
                </h1>
                <%= markdown @post.description %>
            </div>
            <form action="/post/<%= @post.id %>" method="post">
                <input type="hidden" name="_method" value="delete" /> 
                <a class="btn btn-success" href="/post/edit/<%= @post.id %>/">Düzenle</a>
                <a class="btn btn-primary" href="/">Geri dön</a>
                <button class="btn btn-warning">Sil</button>
            </form>
            
        </div>
    </div>
</div>